<%= simple_form_for(@platform, :html => { :multipart => true }) do |f| %>
  <div class="form-inputs">
    <%= f.input :name , label: '平台名称'%>
    <%= f.input :logo, as: :file, label: '平台logo' %>
    <%= f.input :introduce, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
    <%= f.input :platform_type, label: '平台类型(国资 风资 民营)' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
