<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :image, as: :file %>
    <%= f.input :abstract, as: :text%>
    <%= f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
    <%= f.association :topic, collection: Topic.all, label_method: :name,
                      label: '文章类型', value_method: :id %>
    <%= f.input :status, as: :radio_buttons, collection: [['0', '未处理'], ['1', '开放'], ['2', '关闭']], label_method: :second, value_method: :first, label: '状态' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
