<%
  crumbs = [{text: '主页', url: '/'}]
  crumbs << {text: '文章列表', url: request.path}
%>

<%= render(partial: 'shared/breadcrumb', locals: { crumbs: crumbs }) %>

<% word_length = browser.device.mobile? ? 36 : 55 %>
<div class="container">
  <% @articles.each do |article| %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2 col-5">
              <a href="<%= article_path(article) %>"><%= image_tag article.image.url(:thumb) %></a>
            </div>
            <div class="col-sm-10 col-7">
              <div class="row">
                <%= link_to article.title, article_path(article) %>
              </div>
              <div class="row article-abstract">
                <%= truncate article.abstract, length: word_length %>
              </div>
              <div class="row article-footer">
                <span><%= article.updated_at.strftime('%Y-%m-%d') %></span>&nbsp; <span>&nbsp;简互金</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
