<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2 col-4"> <a href="<%= bill_url(bill) %>"><%= image_tag("/platform_logo/"+bill.platform.logo, class: 'w-100') %></a></div>
      <div class="col-sm-2 column-none"> <p class="card-text">起投金额</p> <p></p>10000元</div>
      <div class="col-sm-2 col-4"> <p class="card-text">预计最高年化</p> <p><%= bill.apr %></p></div>
      <div class="col-sm-2 col-4"> <p class="card-text">投资期限</p> <p><%= bill.time_horizon %></p></div>
      <div class="col-sm-2 column-none"> <p class="card-text">投资人数</p> <p>1人<%= bill.invest_count %></p></div>
      <div class="col-sm-2 column-none"> <p><a href="<%= bill_url(bill)%>" class="btn btn-primary">投资</a></p> </div>
    </div>
  </div>
</div>