<table class="table" >
  <thead>
  <tr>
    <th scope="col">名称</th>
    <th scope="col">万返</th>
    <th scope="col">投资期限</th>
    <th colspan="3" scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
      <tr scope="row">
        <td><%= bill.bill_name %></td>
        <td><%= bill.per_10000 %></td>
        <td><%= bill.time_horizon %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
