<%
  bill_id = params[:id]
  bill = Bill.find(bill_id)
  crumbs = [{text: '主页', url: '/'}]
  crumbs << {text: bill.bill_name + "攻略", url: bill_url(bill)}
  title @bill.bill_name
%>

<%= render(partial: 'shared/breadcrumb', locals: {crumbs: crumbs}) %>


<div class="card">
  <div class="card-header">
    <%= @bill.bill_name %>
  </div>
  <div class="card-body card_boy_custom">
    <div class="card">
      <div class="card-header collapse_header" id="headingOne">
        <div class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            投资攻略:
          </button>
        </div>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <%= raw @bill.content %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header collapse_header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            平台介绍
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <%= raw @bill.platform.introduce %>
        </div>
      </div>
    </div>
  </div>
  <% if !qq_host? %>
      <div class="card-footer text-muted">
        <a href="<%= "/orders/new?bill_id=#{@bill.id}" %>" class="btn btn-primary">交单</a>
      </div>
  <% end %>
</div>
