<%= simple_form_for(@order, :html => {:multipart => true}) do |f| %>
    <% if params[:bill_id].blank? %>
    <%= f.input :platform_id,
        collection: Platform.all,
        :label_method => lambda { |platform| "#{platform.name}" },
        label: '平台名称',
        :input_html => {id: 'e1'} %>
    <% else %>
        <%= f.hidden_field :platform_id, value: Bill.find(params[:bill_id]).platform_id %>
        <%= f.hidden_field :bill_id, value: params[:bill_id] %>
    <% end %>

    <%= hidden_field_tag 'bill_id', params[:bill_id] %>

    <%= f.input :phone_num, label: '手机号码' %>
    <%= f.input :investor_username, label: '姓名' %>
    <%= f.input :time_horizon, label: '投资标期' %>
    <%= f.input :amount, label: '投资金额' %>
    <%= f.input :alipay, label: '收单子信息(请用空格隔开)', maxlength: "64" %>

    <%= f.input :password, label: '查询密码' %>
    <%= f.input :note, label: '备注' %>
    <div class="text-center">
      <%= f.button :submit, '提交', class: 'btn btn-outline-success my-2 my-sm-0' %>
    </div>
<% end %>

